body {
  padding-top: 50px;
}

#top {
}

#peta {
  height: 420px;
}

#content {
  min-height: 200px;
}

#footer {
  margin-top: 30px;
  background: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#footer hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  width: 110px;
}

@media (max-width: 768px) {
  #peta {
    height: 230px;
  }

  .navbar-header:before,
  .navbar-header:after,
  .navbar-nav:before,
  .navbar-nav:after,
  .navbar-text:before,
  .navbar-text:after {
    display: none !important;
    clear: none !important;
  }

  #navbar .navbar-nav > li > a {
    padding-right: 0 !important;
  }

  ul.navbar-nav {
    float: left;
    margin: 5px 0;
  }

  .navbar-right {
    float: right !important;
  }

  #top .navbar-text {
    float: left;
    margin-right: 15px;
  }

}

@media (max-width: 768px) and (orientation: landscape) {
  #peta {
    height: 130px;
  }
}

h3 {
  margin-top: 13px;
}

.breadcrumb {
  margin-bottom: 0;
}

  .breadcrumb .progress {
    float: right;
    width: 3em;
    background: #ddd;
    word-wrap: none;
  }

  .breadcrumb .progress.done .progress-bar {
    transition: .5s background-color;
    background-color: #ccc;
  }

  /* snagged from bootstrap.css's .progress-striped bits */
  .breadcrumb .progress .progress-bar.rest {
    background-color: #ccc;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
  }

.navbar {
  min-height: 0px !important;
          border-radius: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
}

.modal {
  background-color: rgba(0,0,0,.1);
}

#top .navbar {
  background: #333;
  border: none;
  margin: 0;
}

  #top .navbar .navbar-text {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
  }

  #top .navbar .active a {
    background-color: #ff00ff;
  }

#nav-lembaga {
  float: left !important;
  margin: 0 !important;
}

#nav-lembaga:before {
  display: none !important;
  clear: none !important;
}

  #nav-lembaga > li {
    float: left !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #nav-lembaga > li > a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

#pemilu-logo {
  margin-top: 0;
  margin-bottom: 0;
}

#pemilu-logo a {
  display: inline-block;
  width: 65px;
  height: 32px;
  background-image: url(../img/apipemilu-logo-header.png?new);
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: bottom right;
}

  #pemilu-logo a span {
    display: none;
  }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  /* Retina-specific stuff here */
  #pemilu-logo a {
    background-image: url(../img/apipemilu-logo-header@2x.png?new);
  }
}


svg.media-object {
  width: 100px;
  height: 100px;
  background: #ccc;
}

.media-header > * {
  margin: 0;
}

.caleg.active .media-header {
  margin-bottom: 10px;
}

.media-object {
  width: 100px;
  margin-right: 10px;
}

  .caleg .photo {
    /* border: 2px solid #686868; */
  }

.list-group-item {
  padding: 10px;
}

.list-group-item:after {
  content: " ";
  display: table;
  clear: both;
}

  .caleg.list-group-item .media-body {
    display: none;
  }

  .caleg.list-group-item.active {
    background: #f5f5f5;
  }

  .caleg.list-group-item.active .media-body {
    margin-top: 15px;
    display: block;
  }

.partai .media-object {
  width: 100px;
}

.caleg-peek {
  max-width: 32em;
}

.caleg-peek .glyphicon-user {
  color: #666666;
}

#content > .panel {
  margin: 15px 0;
}

.panel-heading {
  padding: 10px;
}

.panel-heading h3 {
  margin: 0;
}

.caleg .media-header {
  font-size: 18px;
  line-height: 1em;
  font-weight: bold;
}

  .caleg .media-header .no-urut {
    color: #666;
    display: inline-block;
    float: left;
    margin: 0 .33em 1px 0;
  }

  a.candidate-name {
  }

#content .alert {
  margin-top: 15px;
}

ul.candidate-info {
  float: left;
  padding-left: 0px;
  max-width: 16em;
  margin-right: 30px;
}

ul.candidate-info,
ul.candidate-info li {
  list-style-type: none;
}

ul.candidate-info li + li {
  margin-top: 5px;
}

ul.candidate-info .header {
  display: block;
  font-size: 75%;
  color: #999;
}

ul.candidate-info .content {
  font-weight: bold;
  display: block;
  margin-left: 15px;
}

.breadcrumb {
          border-radius: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
}

.breadcrumb li.active a {
  color: inherit;
  font-weight: bold;
}

.breadcrumb li.action a {
  color: #000;
}

/* overwrite bootcamp styles for modal window */
.modal-header .close {
  margin-top: -12px;
  padding: 0px 10px 10px 10px;
  font-size: 42px;
  border: 0px;
  outline: 0px;
}

.zoom-control {
  margin: 15px;
}

  .zoom-control button {
    display: block;
    background: #000;
    width: 2em;
    height: 2em;
    margin-bottom: 5px;
    position: relative;
  }

  .zoom-control button:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    text-align: center;
    margin: -.72em 0 0 -.5em;
    color: #fff;
    font-size: 200%;
    font-weight: normal;
  }

  .zoom-control button.in:after {
    content: "+";
    margin-top: -.74em;
  }

  .zoom-control button.out:after {
    content: "\2212";
  }

/* don't scale strokes */
svg path {
  vector-effect: non-scaling-stroke !important;
}

svg.map {
  background: #b3d1ff;
}

svg.map .bg {
  fill: #e5e3df;
  stroke: #ccc;
  stroke-width: .5;
}

svg.map .fg path {
  fill: #555555;
  fill-opacity: .5;
  stroke: #ccc;
  stroke-width: .5;
}

svg.shared {
  display: none;
}

.auto-click {
  cursor: pointer;
}
