body {
  padding-top: 50px;
}

#peta {
  height: 280px;
}

@media (max-width: 768px) {
  #peta {
    height: 200px;
  }
}

h3 {
  margin-top: 13px;
}

.breadcrumb {
  margin-bottom: 0;
}

#navbar .navbar-header:after {
  clear: none !important;
}

#navbar .navbar-brand {
  padding-right: 10px !important;
}

#nav-lembaga {
  float: left !important;
  margin: 0 !important;
}

#nav-lembaga:before {
  display: none !important;
  clear: none !important;
}

  #nav-lembaga > li {
    float: left !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #nav-lembaga > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

svg.media-object {
  width: 100px;
  height: 100px;
  background: #ccc;
}

.caleg .media-object {
  width: 100px;
}

.caleg.media .media-body {
  display: none;
}

.caleg.media.active .media-body {
  display: block;
}

.partai .media-object {
  width: 100px;
}

.breadcrumb li.active a {
  color: inherit !important;
}

.zoom-control {
  margin: 15px;
}

  .zoom-control button {
    display: block;
    background: #000;
    width: 2em;
    height: 2em;
    margin-bottom: 5px;
    position: relative;
  }

  .zoom-control button:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    text-align: center;
    margin: -.72em 0 0 -.5em;
    color: #fff;
    font-size: 200%;
    font-weight: normal;
  }

  .zoom-control button.in:after {
    content: "+";
    margin-top: -.74em;
  }

  .zoom-control button.out:after {
    content: "\2212";
  }

/* don't scale strokes */
svg path {
  vector-effect: non-scaling-stroke !important;
}

svg.map {
  background: #b3d1ff;
}

svg.map .bg {
  fill: #e5e3df;
  stroke: #ccc;
  stroke-width: .5;
}

svg.map .fg path {
  fill: #555555;
  fill-opacity: .5;
  stroke: #ccc;
  stroke-width: .5;
}

svg.shared {
  display: none;
}
