body {
}

#top {
  margin-top: 50px;
}

#peta {
  height: 280px;
}

#content {
  min-height: 200px;
}

#footer {
  margin-top: 30px;
  background: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#footer hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  width: 110px;
}

@media (max-width: 768px) {
  #peta {
    height: 200px;
  }

  .navbar-header:before,
  .navbar-header:after,
  .navbar-nav:before,
  .navbar-nav:after,
  .navbar-text:before,
  .navbar-text:after {
    display: none !important;
    clear: none !important;
  }

  ul.navbar-nav {
    float: left;
    margin: 5px 0;
  }

  .navbar-right {
    float: right !important;
  }

  .navbar-text {
    float: left;
    margin-right: 15px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #peta {
    height: 130px;
  }
}

h3 {
  margin-top: 13px;
}

.breadcrumb {
  margin-bottom: 0;
}

.navbar {
  min-height: 0px !important;
          border-radius: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
}

.modal {
  background-color: rgba(0,0,0,.1);
}

#top .navbar {
  background: #333;
  border: none;
  margin: 0;
}

  #top .navbar .navbar-text {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
  }

#nav-lembaga {
  float: left !important;
  margin: 0 !important;
}

#nav-lembaga:before {
  display: none !important;
  clear: none !important;
}

  #nav-lembaga > li {
    float: left !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #nav-lembaga > li > a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

svg.media-object {
  width: 100px;
  height: 100px;
  background: #ccc;
}

.caleg .media-object {
  width: 100px;
}

.caleg.media .media-body {
  display: none;
}

.caleg.media.active .media-body {
  display: block;
}

.partai .media-object {
  width: 100px;
}

.breadcrumb li.active a {
  color: inherit !important;
}

.zoom-control {
  margin: 15px;
}

  .zoom-control button {
    display: block;
    background: #000;
    width: 2em;
    height: 2em;
    margin-bottom: 5px;
    position: relative;
  }

  .zoom-control button:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    text-align: center;
    margin: -.72em 0 0 -.5em;
    color: #fff;
    font-size: 200%;
    font-weight: normal;
  }

  .zoom-control button.in:after {
    content: "+";
    margin-top: -.74em;
  }

  .zoom-control button.out:after {
    content: "\2212";
  }

/* don't scale strokes */
svg path {
  vector-effect: non-scaling-stroke !important;
}

svg.map {
  background: #b3d1ff;
}

svg.map .bg {
  fill: #e5e3df;
  stroke: #ccc;
  stroke-width: .5;
}

svg.map .fg path {
  fill: #555555;
  fill-opacity: .5;
  stroke: #ccc;
  stroke-width: .5;
}

svg.shared {
  display: none;
}
